#logout{
    margin-top:10px;
    margin-left:88%;
    width:auto;
    /* height:40px; */
    font-size: 15px;
}
#lo{
    /* margin-top:10px; */
    margin-left:auto;
    width:auto;
    /* height:40px; */
    font-size: 15px;
}