.fa-phone{
    color:blue;
}
.fa-home{
    color:brown;
}
.fa-ticket{
    color:green;
}
.fa-window-close{
    color:red;
}
.fa-tag{
    color:white;
}
#welcome{
    margin-top: 90px;
}
#collapsenavbar{
    font-size: 200%;
}
#HMM{
font-size:25px;
}
.fa-tree{
    color:greenyellow;
}
#ftree{
    color:orange;
}
