 .hie
        {
            margin-right: 30%;
            color: rgb(243, 245, 245);
            font-size: 12px;
        }  
.form-group
{
    width: 70%;
}
.register
{
    font-size:medium;
    
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;

    
}
.form-control{
height: 40px;
font-size:medium;
}
#b{
    
    font-size: medium;
    height: 50px;
    width: 100px;
}
